// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


.normal-image
  width:80%

.normal-image
  img
    width: 80%
    margin-top: 10px
    margin-bottom: 20px

ul
  text-align: left
  list-style-type: disc

ul ul
  list-style-type: none
  color: #777


table
  width: 99%

table tr td
  border: 1px solid #ccc
  padding: 10px

table tr > td:first-child
  text-align: left

table tr > td:last-child
  text-align: left
  padding-left: 50px

pre
  font-size: 20px

iframe
  border-width: 0 !important
  box-shadow: none !important

